In [135]:
##importing the important dataset
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import classification_report
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
# example of a ordinal encoding
from numpy import asarray

In [136]:
##reading the dataset

In [137]:
data=pd.read_csv("Transformed Data Set - Sheet1.csv")

In [138]:
##using head for first five rows of the dataset

In [139]:
print(data.head())

  Favorite Color Favorite Music Genre Favorite Beverage Favorite Soft Drink  \
0           Cool                 Rock             Vodka          7UP/Sprite
1        Neutral              Hip hop             Vodka     Coca Cola/Pepsi
2           Warm                 Rock              Wine     Coca Cola/Pepsi
3           Warm     Folk/Traditional           Whiskey               Fanta
4           Cool                 Rock             Vodka     Coca Cola/Pepsi

  Gender
0      F
1      F
2      F
3      F
4      F

In [140]:
##preparing X and y is using pandas

In [141]:
X = data.loc[:,data.columns != 'Gender']
X.head()

  Favorite Color Favorite Music Genre Favorite Beverage Favorite Soft Drink
0           Cool                 Rock             Vodka          7UP/Sprite
1        Neutral              Hip hop             Vodka     Coca Cola/Pepsi
2           Warm                 Rock              Wine     Coca Cola/Pepsi
3           Warm     Folk/Traditional           Whiskey               Fanta
4           Cool                 Rock             Vodka     Coca Cola/Pepsi

In [148]:
X['Favorite Color'].value_counts()

Cool       37
Warm       22
Neutral     7
Name: Favorite Color, dtype: int64

In [149]:
# df1=pd.get_dummies(data['Favorite Color'])
# data=pd.concat([data,df1],axis=1).reindex(data.index)
# data
# encoded_color = le.fit_transform(X['Favorite Color'])
# X['encoded_color'] = encoded_color
# print(X)

NameError: name 'le' is not defined

In [144]:
data.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F

In [145]:
data['Favorite Music Genre'].value_counts()

Rock                19
Pop                 17
Hip hop              8
Electronic           8
R&B and soul         6
Folk/Traditional     4
Jazz/Blues           4
Name: Favorite Music Genre, dtype: int64

In [80]:
data['Favorite Beverage'].value_counts()

Doesn't drink    14
Beer             13
Other            11
Wine             10
Vodka             9
Whiskey           9
Name: Favorite Beverage, dtype: int64

In [81]:
data['Favorite Soft Drink'].value_counts()

Coca Cola/Pepsi    32
Fanta              14
7UP/Sprite         13
Other               7
Name: Favorite Soft Drink, dtype: int64

In [68]:
y=data.Gender

In [69]:
###Splitting X and y into training and test datasets.

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [71]:
print(X_train.shape)
print(y_train.shape)

(52, 4)
(52,)

In [72]:
##to avoid changing original data